{% extends 'base.html' %}

{% block title %}
About
{% endblock %}


{% block content %}

<div class="d-flex justify-content-center" style="margin-top: 10px;">
  <div class="card" style="width: 100%;">
      <img src="{{ url_for('static', filename='img/JADELKA.jpeg') }}" class="card-img-top" alt="JADELKA">
      <div class="card-body">
          <h5 class="card-title">JADELKA</h5>
          <p class="card-text">Desarrollador web especializado en el uso de Flask, Python, HTML y Bootstrap, formando parte integral del equipo en JFK Technology. He participado en diversos proyectos, destacando la creación de una plataforma de votación y el desarrollo de sistemas para la descarga de juegos.</p>
      </div>
  </div>
</div>

{% endblock %}
