{% extends 'base.html' %}

{% block title %}
FNAF ANDROID
{% endblock %}

{% block content %}

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">! IMPORTANTE !</h4>
  <p> Queremos informarte que la sección de juegos de Android aún no ha sido completamente desarrollada y, como resultado, podrían surgir posibles inconvenientes. <br> Esto puede incluir la imposibilidad de descargar los juegos o errores durante el proceso de instalación.</p>
  <hr>
  <p class="mb-0">Como equipo responsable de la web, pedimos disculpas por cualquier inconveniente. Estamos trabajando para solucionar este error. ¡Gracias por tu paciencia!</p>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Selecciona el elemento de la tostada
    var toastElement = document.querySelector('.toast');
  
    // Muestra la tostada
    var toast = new bootstrap.Toast(toastElement);
    toast.show();
  
    // Oculta la tostada después de 5000 milisegundos (5 segundos)
    setTimeout(function () {
      toast.hide();
    }, 64000);
  });
  </script>

<!--FNAF 1-->
<div class="row g-0 bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
      <img src="{{ url_for('static', filename='img/fnaf_1.jpeg') }}" class="w-100" alt="FNAF_1">
    </div>
    <div class="col-md-6 p-4 ps-md-0">
      <h5 class="mt-0">Five Nights at Freddy's (FNAF 1)</h5>
      <p>En el primer juego, los jugadores asumen el papel de un guardia de seguridad nocturno en Freddy Fazbear's Pizza, un restaurante que cuenta con animatronics animados durante el día para el entretenimiento de los niños. Sin embargo, durante la noche, estos animatronics, como Freddy Fazbear, Bonnie, Chica y Foxy, se vuelven impredecibles y potencialmente peligrosos. El jugador debe monitorear las cámaras de seguridad para asegurarse de que los animatronics no se acerquen a la oficina del guardia. La falta de energía y la limitada capacidad para cerrar puertas aumentan la tensión, ya que el objetivo es sobrevivir durante cinco noches.</p>
      <a href="#" class="stretched-link">Go somewhere</a>
    </div>
  </div>

  <!--FNAF 2-->
  <div class="row g-0 bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
      <img src="{{ url_for('static', filename='img/fnaf_2.webp') }}" class="w-100" alt="...">
    </div>
    <div class="col-md-6 p-4 ps-md-0">
      <h5 class="mt-0">Five Nights at Freddy's 2 (FNAF 2)</h5>
      <p>La secuela amplía la historia y presenta un nuevo restaurante con animatronics renovados. La mecánica central involucra el uso de una máscara y linternas para disuadir a los animatronics de atacar. La narrativa se profundiza al explorar los orígenes de los animatronics y la historia del restaurante. El juego también introduce el personaje de Marionette y ofrece una experiencia más frenética y desafiante.</p>
      <a href="#" class="stretched-link">Go somewhere</a>
    </div>
  </div>

  <!--FNAF 3-->
  <div class="row g-0 bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
      <img src="{{ url_for('static', filename='img/fnaf_3.webp') }}" class="w-100" alt="...">
    </div>
    <div class="col-md-6 p-4 ps-md-0">
      <h5 class="mt-0">Five Nights at Freddy's 3 (FNAF 3)</h5>
      <p>Ubicado en Fazbear's Fright, una atracción basada en la leyenda de los animatronics, el tercer juego presenta la amenaza de Springtrap, un animatronic particularmente peligroso. La mecánica se centra en utilizar sistemas de audio y cámaras para rastrear y evitar a Springtrap. La trama explora más a fondo la historia detrás de los eventos anteriores y las misteriosas desapariciones.</p>
      <a href="#" class="stretched-link">Go somewhere</a>
    </div>
  </div>

  <!--FNAF 4-->
  <div class="row g-0 bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
      <img src="{{ url_for('static', filename='img/fnaf_4.webp') }}" class="w-100" alt="...">
    </div>
    <div class="col-md-6 p-4 ps-md-0">
      <h5 class="mt-0">Five Nights at Freddy's 4 (FNAF 4)</h5>
      <p>Diferente de los juegos anteriores, FNAF 4 coloca al jugador en la habitación de un niño que está siendo atormentado por animatronics en su mente. La mecánica se basa en escuchar y reaccionar a los sonidos para prevenir los ataques. La historia se relaciona con la familia Afton y agrega capas a la narrativa general de la serie.</p>
      <a href="#" class="stretched-link">Go somewhere</a>
    </div>
  </div>

  <!--FNAF 5-->
  <div class="row g-0 bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
      <img src="{{ url_for('static', filename='img/fnaf_5.webp') }}" class="w-100" alt="...">
    </div>
    <div class="col-md-6 p-4 ps-md-0">
      <h5 class="mt-0">Five Nights at Freddy's: Sister Location (FNAF 5)</h5>
      <p>Este juego introduce una nueva ubicación y cambia la mecánica al tener diferentes segmentos en lugar de noches consecutivas. La historia sigue a Michael Afton mientras trabaja en una nueva instalación y explora su conexión con la familia Afton y los eventos anteriores.</p>
      <a href="#" class="stretched-link">Go somewhere</a>
    </div>
  </div>

  <!--FNAF 6-->
  <div class="row g-0 bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
      <img src="{{ url_for('static', filename='img/fnaf_6.jpg') }}" class="w-100" alt="...">
    </div>
    <div class="col-md-6 p-4 ps-md-0">
      <h5 class="mt-0">Freddy Fazbear's Pizzeria Simulator (FNAF 6)</h5>
      <p>En este juego, los jugadores gestionan su propio restaurante Freddy Fazbear's Pizzeria, pero se enfrentan a desafíos inesperados. La historia se desarrolla a medida que se revelan detalles cruciales sobre la trama general, y el juego combina elementos de simulación de negocios con las mecánicas de supervivencia tradicionales.</p>
      <a href="#" class="stretched-link">Go somewhere</a>
    </div>
  </div>

  <!--FNAF 7-->
  <div class="row g-0 bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
      <img src="{{ url_for('static', filename='img/fnaf_7.webp  ') }}" class="w-100" alt="...">
    </div>
    <div class="col-md-6 p-4 ps-md-0">
      <h5 class="mt-0">Five Nights at Freddy's: Help Wanted (FNAF 7)</h5>
      <p>Este juego de realidad virtual recopila varias experiencias basadas en la realidad virtual, reimaginando eventos clave de juegos anteriores. Los jugadores participan en diferentes desafíos, desde reparar animatronics hasta sobrevivir a nuevas situaciones. La narrativa sigue explorando los misterios de la franquicia.</p>
      <a href="#" class="stretched-link">Go somewhere</a>
    </div>
  </div>
{% endblock %}

